@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: background 5s infinite;
    /* background-color: white;
    color: color; */
}

 @keyframes background {
     0%{
         background: linear-gradient(90deg, red, purple, orange);
    }

    50%{
         background: linear-gradient(70deg, red, purple, orange);
    }

    80%{
         background: linear-gradient(60deg, red, purple, orange);
    }

    100%{
         background: linear-gradient(50deg, red, purple, orange);
    }
} 

h1{
    font-size: 3em;
    font-family: sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.56);
    padding: 1em;
    border-radius: 1em;
    transition: all .5s ease-in-out;
}

h1:hover{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.2em;
    border-radius: 1em;
} 

